.user-items {
  padding: 1rem;
  background-color: rgb(213, 207, 235);
  border: 2px solid #796aae;
  border-radius: 12px;
  margin: 2rem auto;
  width: 50rem;
  max-width: 95%;
}

.user-item {
  display: flex;
  justify-content: space-between;
  font-size: 1.25rem;
}

.user-item__name {
  font-weight: 700;
}

.user-item__age {
  font-style: italic;
}

.user-item__age span {
  font-weight: 700;
}
