.new-user__controls {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  margin-bottom: 1rem;
  text-align: left;
}

.new-user__control {
  width: 100%;
}

.new-user__control label {
  font-style: italic;
  font-weight: 700;
  margin-bottom: 0.5rem;
  display: block;
}

.new-user__control input {
  width: 100%;
  font: inherit;
  padding: 0.5rem;
  border-radius: 6px;
  border: 4px solid #796aae;
  max-width: 100%;
}
.new-user__control input:focus {
  box-sizing: border-box;
  outline: none;
  border: 4px solid #51447e;
}

.new-user__actions {
  text-align: center;
}
